.Joke {
  margin-bottom: 0.75em;
  padding: 0.2em;
}

.Joke-locked {
  background-color: #ccc;
}

.Joke-votearea {
  display: inline-block;
  vertical-align: top;
}

.Joke-votearea > * {
  margin-right: 1em;

}
.Joke-text {
  margin-left: 1em;
  display: inline-block;
  width: 500px;
}
div.Joke-text > button{
  border:none;
  background-color:white;
  text-align: left;
}

div.Joke-text > button:hover{
  background-color: black;
  color:white;
}

.Joke-icon{
  font-size: 0.7em;
  color:rgb(64, 23, 15);
  margin-left:0.5em;
}
